
*{
    padding: auto;
    margin: auto;
}
body {
    box-sizing: auto;
    width: 100%;
    background-color: rgb(136, 172, 223);
    background-image: url("gif-neige.gif");
}

h1 { 
    font-size : 45pt; 
    font-weight :bolder; 
    color : white;
    padding-left : 45px; 
    text-align: center;
}

li {
    list-style: none;
    font-size : 25pts
}

.nav {
    text-align : center;
}


.nav .panneau a {
    text-decoration:  none;
    color :rgb(136, 172, 223);
    
}



.option img {
    height: 100px;
    width: 140px;
    float : right;
    margin-top: 25px;
   
}



.classnav .panneau{
    background-image: url("pann.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20% 250px;
    text-align: center;
    margin:0.1px;
    padding:35px;
    padding-bottom: 15px;
  
    
   
   
} 

.classnav .panneau a,li{
    border : none; 
    cursor : pointer;
    color :white; 
    text-decoration : none; 
    margin : 40pt;
    font-size: 20pt;
    cursor : pointer;
    appearance: none;
    padding-top: 50px;
}



