h1 {
    font-size : 30 px; 
    font-weight : bold; 
    color : blue ; 
    text-align : center;
}

.nav{ 
    text-align: center;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    
}

nav ul li  {
    list-style-type : none; 
}

