
*{
    padding: auto;
    margin: auto;
}
body {
    box-sizing: auto;
    width: 100%;
    background-color: rgb(136, 172, 223);
    
    background-image: url("../photo/gif-neige.gif") ,url("../photo/fond_hiver.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 50%;
    background-size: 1950px 1100px;
    
}

h1 { 
    font-size : 45pt; 
    font-weight :bolder; 
    color : white;
    padding-left : 45px; 
    text-align: center;
    
}

li {
    list-style: none;
    font-size : 25pts
}

.nav {
    text-align : center;
}


.nav .panneau a {
    text-decoration:  none;
    color :rgb(136, 172, 223);
    
}



.option img {
    height: 100px;
    width: 140px;
    float : right;
    margin-top: 25px;
   
}



.classnav .panneau{
    background-image: url("../photo/SnowSign.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20% contain;
    text-align: center;
    margin:2px;
    padding:10px;
    
  
    
   
   
} 

@font-face {
    font-family: "Stay Pixel";
    src: url("StayPixel.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

.classnav .panneau a,li{
    border : none; 
    cursor : pointer;
    color :black; 
    text-decoration : none; 
    margin : 50pt;
    font-size: 25pt;
    text-decoration: bold;
    cursor : pointer;
    appearance: none;
    padding-top: 40px;
   
}



